---
import { readAll } from "../lib/markdoc/read";
import { member } from "../lib/markdoc/frontmatter.schema";
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import { SITE_TITLE } from "../config";
import Renderer from "src/components/Renderer.astro";

const members = await readAll({
  directory: "members",
  frontmatterSchema: member,
});

const sortedMembers = members
  .filter((p) => p.frontmatter.draft !== true)
  .sort((a, b) =>
    a.frontmatter.title.localeCompare(b.frontmatter.title)
  );

const subtitle = "Participating Members in Alphabetical Order"
---

<PageLayout>
  <PageMeta title={`Members | ${SITE_TITLE}`} slot="meta" />
  <section slot="main">
  <p class="text-xl pb-4">{subtitle}</p>
    <ul>
      {
        sortedMembers.map((member) => {
          const formattedDate = new Date(
            member.frontmatter.date
          ).toLocaleDateString("en-us", {
            year: "numeric",
            month: "short",
            day: "numeric",
          });
          return (
            <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
              <div class="title">
                <a
                  href={member.frontmatter.url}
                  target="_blank"
                  class="unset hover:text-text-link"
                >
                  <b><span>{member.frontmatter.title}, {member.frontmatter.institution}</span></b>
                  <span>
                    <i class="ml-1 mr-1 text-[12px] pb-2 fa-solid fa-up-right-from-square" />
                  </span>
                </a>
              </div>
              <div class="text-text-muted text-sm italic pt-1">
                {/* <time datetime={member.frontmatter.date.toISOString()}>
                  {formattedDate}
                </time> */}
              </div>
              <div class="ml-0 mb-4">
                <Renderer content={member.content} slot="content" />
              </div>
            </li>
          );
        })
      }
    </ul>
  </section>
</PageLayout>
